.navbar-brand {
    color: #d2691e;
    font-family: "Brush Script MT", cursive;
    font-size: 30px;
    margin-left: 10px;
  }
  #search {
    height: 30px;
    border-radius: 20px;
    width: 30%;
  }
  #img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }
  #container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    
    
  }
  .non-veg {
    height: 300px;
    border: 2px solid;
    width: 350px;
    padding: 10px;
    margin-top: 60px;
    border: none;
    border-radius: 5px;
  }
  .btn-nonveg {
    position: relative;
    top: -40px;
    border-radius: 20px;
    width: 90px;
    left: 35%;
    background-color: white;
    border: none;

    color: rgb(47, 7, 193);
  }
  .btn-nonveg:hover{
    transform: scale(1.1);
  }
  .btn-nonveg:active {
    background-color: skyblue;
    transform: scale(1.2);
  }
  
  
  #non-veg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
  }
  #Veg-Items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -50px;
    
  }
  #copyright {
    background-color: rgba(119, 197, 246, 0.507);
    height: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about{
    width: 80%;
    border: 2px solid;
    margin-left: 60px;
    margin-top: 60px;
    border: none;
    background-color: rgb(230, 233, 238);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#about_heading{
    font-family: 'Orbitron', sans-serif;
    margin-top: 30px;

}
#about_details{
    font-family: 'Orbitron', sans-serif;
    margin-top: 35px;
}
@media (min-width:0px) and (max-width:480px) {
  #about{
    margin: auto;
    margin-top: 60px;
    width: 90%;
  }
}
 